	a:focus{outline:none;}
	.on{color:rgb(11, 183, 245);}
	#header{position: relative;z-index:1;}
	#header .hd{max-width: 1160px;margin: auto;}
	#header .hd .hd-container{position: relative;height: 52px;zoom:1;}
	#header .hd .hd-container h1{position: absolute;left:5px;bottom: -5px;}
	.container .showbox .col-md-8{-moz-box-shadow:0 4px 4px #999;-webkit-box-shadow:0 4px 4px #999;box-shadow:0 4px 4px #999;
	*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color="#333333"); }
	.hand{cursor:pointer;}
	#help:before{color:#f5f5f5;}
	.wan-set,.wlan-set,.ssid-list,.login-set{padding-bottom:20px;}
	.tab_area .tab_item{cursor:pointer;line-height:4.0;font-size: 15px;color:#777;font-family: "微软雅黑";width: 33.3%;float: left;}
	.tab_area .on{color:rgb(11, 183, 245);}
	/*按钮组*/
	.buttonbox{	min-width:300px;width:50%;_height:40px;margin:10px auto 10px auto;overflow:hidden;text-align:center;}
	a{color: #666;text-decoration: none;}
	.btn{width: 195px;height: 40px;line-height:40px;display:inline-block;text-align: center;color: #fff;
	font-size: 16px;border: 1px rgb(11, 183, 245) solid;border-radius: 4px;background:rgb(11, 183, 245);cursor: pointer;vertical-align: middle;}
	.btn:hover{background: rgb(143, 213, 239);color:#fff}
	.btn-msg{background:#f7f7f7;color:#333;border: 1px #ead7d7 solid;cursor:pointer;}
	.btn-msg:hover{background: #fff;color:#333;border: 1px #ead7d7 solid;}
	.btn-disabled{background:#ead7d7;color:#aaa;border: 1px #ead7d7 solid;cursor:not-allowed;}
	.btn-disabled:hover{background: #CBB6B6;color:#fff;border: 1px #ead7d7 solid;}
	.buttonbox .list-btn{width:130px;height:37px;line-height:37px;padding: 0;}
	/*form组件*/
	.inpt:focus{border: 1px rgb(11, 183, 245) solid;}
	/*其他*/
	.wlan-title,.login-title{text-align:left;width:90%;margin:0px auto;border-bottom: 1px solid #d9d9d9;padding: 10px;color:#757575;}
	.table{border-collapse:collapse;border-spacing: 0px;line-height: 38px;text-align: center;border:0;}
	.table #WifiList .wifirow,.wifihead{width:100%;height:3.3rem;background:rgb(237, 237, 237);display:block}
	.table #WifiList .wifirow:hover{background:rgb(72, 222, 255);color:#fff;}
	.table #WifiList .wifirow .wifiCol{text-align:center;vertical-align:middle;display: inline-block;}
	.table #WifiList .wifihead .wifiCol{text-align:center;vertical-align:middle;display: inline-block;}
	.lefttd{width:15%;}
	.midtd{width:65%;}
	.righttd{width:20%;}
	.table #WifiList .wifirow .wifiCol img{width:55px;padding-left:15px;}
	.foottable tr td a{padding:3px 8px;margin-right:5px;border:1px solid #d8d8d8;color:#595854;text-decoration: none;outline: none;float:left;}
	.checkedon{z-index: 2;color: #fff;cursor: default;background-color: #337ab7;border-color: #337ab7;}
	#message_layer,#message_info{border:1px solid #f1f1f1;background:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius: 5px;box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);padding: 5px;z-index: 4001;display: none;width: 240px;}
	#msg_type{width:50px;height: 50px;margin: 12px auto;}
	#msg{text-align: center;font-size: 14px;line-height: 21px;color: #636363;}
	/*radio组*/
	.demospan{display: inline-block;width: 24px;height: 18px;float: left;cursor: pointer;text-align: center;margin-left:14px;background: url("/admin/images/inputradio.png") no-repeat -24px 0;}
    .radiogroup{opacity: 0;cursor: pointer;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);}
	.radioOn{background-position: 0 0;}
	/*模式列表*/
	.ModeList{width:100%;border: 0;padding:0;border-spacing: 0px 10px ;border-collapse:separate;}
	.ModeList .ListRow{height:60px;width:100%;}
	.ModeList .ListRow:hover{background:#D1D1D1;}
	.ModeList .ListRow .Tdleft{width:10%;}
	.ModeList .ListRow .Tdright{width:10%;cursor:pointer;}
	.ModeList .ListRow .Tdright img{display:none;}
	.ModeList .ListRow .Tdmiddle{width:80%;}
	.oddrow{background:#6ec8f2;}
	.evenrow{background:#ececec;}
	.ModeList .ListRow td em{font-size:18px;font-style:normal;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
